.table-view-style {
    -fx-background-color: #f2f2f2;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #36454f;

}
.table-view-style .table-cell {
    -fx-alignment: CENTER;
}

.table-view-style .column-header {
    -fx-background-color: #ffeaec;
    -fx-border-color: grey;
    -fx-border-width: 0 0 0 1px;
}

.table-view-style .column-header-background {
    -fx-background-color: #ffeaec;
}

.table-view-style .column-header-background .label {
    -fx-text-fill: #000000;
}

.table-view-style .table-row-cell {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #36454f;
}

.table-view-style .table-row-cell:odd {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #36454f;
}

.table-view-style .table-row-cell {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1px 0;
}

.list-view-style {
    -fx-background-color: #f2f2f2;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #36454f;
}

.data-values-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffa6c5;
}


